In [23]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [11]:
pew = pd.read_csv('pew.csv')

In [12]:
pew

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k
0,Agnostic,27,34,60,81,76,137
1,Atheist,12,27,37,52,35,70
2,Buddhist,27,21,30,34,33,58
3,Catholic,418,617,732,670,638,1116
4,Dont know/refused,15,14,15,11,10,35
5,Evangelical Prot,575,869,1064,982,881,1486
6,Hindu,1,9,7,9,11,34
7,Historically Black Prot,228,244,236,238,197,223
8,Jehovahs Witness,20,27,24,24,21,30
9,Jewish,19,19,25,25,30,95

In [4]:
pew.isna()

   RReliggon   <$10k   $10-20k  $20-30k  $30-40k   $40-50k  $50-75k
0      False   False     False    False    False     False    False
1      False   False     False    False    False     False    False
2      False   False     False    False    False     False    False
3      False   False     False    False    False     False    False
4      False   False     False    False    False     False    False
5      False   False     False    False    False     False    False
6      False   False     False    False    False     False    False
7      False   False     False    False    False     False    False
8      False   False     False    False    False     False    False
9      False   False     False    False    False     False    False

In [7]:
pew.describe()

,<$10k,$10-20k,20_to_30k,30_to_40k,$40-50k,50_to_75k
count,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
mean,134.200000,188.100000,223.000000,212.600000,193.200000,328.400000
std,205.433309,306.460601,370.235661,338.247838,308.833576,523.264794
min,1.000000,9.000000,7.000000,9.000000,10.000000,30.000000
25%,16.000000,19.500000,24.250000,24.250000,23.250000,40.750000
50%,23.500000,27.000000,33.500000,43.000000,34.000000,82.500000
75%,177.750000,191.500000,192.000000,198.750000,166.750000,201.500000
max,575.000000,869.000000,1064.000000,982.000000,881.000000,1486.000000

In [5]:
pew

,RReliggon,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k
0,Agnostic,27,34,60,81,76,137
1,Atheist,12,27,37,52,35,70
2,Buddhist,27,21,30,34,33,58
3,Catholic,418,617,732,670,638,1116
4,Dont know/refused,15,14,15,11,10,35
5,Evangelical Prot,575,869,1064,982,881,1486
6,Hindu,1,9,7,9,11,34
7,Historically Black Prot,228,244,236,238,197,223
8,Jehovahs Witness,20,27,24,24,21,30
9,Jewish,19,19,25,25,30,95

In [6]:
type(pew)

pandas.core.frame.DataFrame

In [9]:
pew.index

RangeIndex(start=0, stop=10, step=1)

In [13]:
pew = pew.rename(columns={
    '<$10k':'less_than_10k',
    '$10-20k' : '10_to_20k',
    '$20-30k' : '20_to_30k',
    '$30-40k' : '30_to_40k',
    '$40-50k' : '40_to_50k',
    '$50-75k' : '50_to_75k'
})

pew

,religion,less_than_10k,10_to_20k,20_to_30k,30_to_40k,40_to_50k,50_to_75k
0,Agnostic,27,34,60,81,76,137
1,Atheist,12,27,37,52,35,70
2,Buddhist,27,21,30,34,33,58
3,Catholic,418,617,732,670,638,1116
4,Dont know/refused,15,14,15,11,10,35
5,Evangelical Prot,575,869,1064,982,881,1486
6,Hindu,1,9,7,9,11,34
7,Historically Black Prot,228,244,236,238,197,223
8,Jehovahs Witness,20,27,24,24,21,30
9,Jewish,19,19,25,25,30,95

In [17]:
pew = pd.melt(pew, id_vars=['religion'], value_vars=['less_than_10k', '10_to_20k','20_to_30k', '30_to_40k', '40_to_50k', '50_to_75k'],
             value_name = 'frequency', var_name='income_range')

pew

                    religion   income_range  frequency
0                   Agnostic  less_than_10k         27
1                    Atheist  less_than_10k         12
2                   Buddhist  less_than_10k         27
3                   Catholic  less_than_10k        418
4          Dont know/refused  less_than_10k         15
5          Evangelical Prot   less_than_10k        575
6                     Hindu   less_than_10k          1
7   Historically Black Prot   less_than_10k        228
8          Jehovahs Witness   less_than_10k         20
9                    Jewish   less_than_10k         19
10                  Agnostic      10_to_20k         34
11                   Atheist      10_to_20k         27
12                  Buddhist      10_to_20k         21
13                  Catholic      10_to_20k        617
14         Dont know/refused      10_to_20k         14
15         Evangelical Prot       10_to_20k        869
16                    Hindu       10_to_20k          9
17  Historically Black Prot       10_to_20k        244
18         Jehovahs Witness       10_to_20k         27
19                   Jewish       10_to_20k         19
20                  Agnostic      20_to_30k         60
21                   Atheist      20_to_30k         37
22                  Buddhist      20_to_30k         30
23                  Catholic      20_to_30k        732
24         Dont know/refused      20_to_30k         15
25         Evangelical Prot       20_to_30k       1064
26                    Hindu       20_to_30k          7
27  Historically Black Prot       20_to_30k        236
28         Jehovahs Witness       20_to_30k         24
29                   Jewish       20_to_30k         25
30                  Agnostic      30_to_40k         81
31                   Atheist      30_to_40k         52
32                  Buddhist      30_to_40k         34
33                  Catholic      30_to_40k        670
34         Dont know/refused      30_to_40k         11
35         Evangelical Prot       30_to_40k        982
36                    Hindu       30_to_40k          9
37  Historically Black Prot       30_to_40k        238
38         Jehovahs Witness       30_to_40k         24
39                   Jewish       30_to_40k         25
40                  Agnostic      40_to_50k         76
41                   Atheist      40_to_50k         35
42                  Buddhist      40_to_50k         33
43                  Catholic      40_to_50k        638
44         Dont know/refused      40_to_50k         10
45         Evangelical Prot       40_to_50k        881
46                    Hindu       40_to_50k         11
47  Historically Black Prot       40_to_50k        197
48         Jehovahs Witness       40_to_50k         21
49                   Jewish       40_to_50k         30
50                  Agnostic      50_to_75k        137
51                   Atheist      50_to_75k         70
52                  Buddhist      50_to_75k         58
53                  Catholic      50_to_75k       1116
54         Dont know/refused      50_to_75k         35
55         Evangelical Prot       50_to_75k       1486
56                    Hindu       50_to_75k         34
57  Historically Black Prot       50_to_75k        223
58         Jehovahs Witness       50_to_75k         30
59                   Jewish       50_to_75k         95

In [18]:
pew.shape

(60, 3)

In [19]:
pew.dtypes

religion        object
income_range    object
frequency        int64
dtype: object

In [20]:
pew.describe

<bound method NDFrame.describe of                     religion   income_range  frequency
0                   Agnostic  less_than_10k         27
1                    Atheist  less_than_10k         12
2                   Buddhist  less_than_10k         27
3                   Catholic  less_than_10k        418
4          Dont know/refused  less_than_10k         15
5          Evangelical Prot   less_than_10k        575
6                     Hindu   less_than_10k          1
7   Historically Black Prot   less_than_10k        228
8          Jehovahs Witness   less_than_10k         20
9                    Jewish   less_than_10k         19
10                  Agnostic      10_to_20k         34
11                   Atheist      10_to_20k         27
12                  Buddhist      10_to_20k         21
13                  Catholic      10_to_20k        617
14         Dont know/refused      10_to_20k         14
15         Evangelical Prot       10_to_20k        869
16                    Hindu       10_to_20k          9
17  Historically Black Prot       10_to_20k        244
18         Jehovahs Witness       10_to_20k         27
19                   Jewish       10_to_20k         19
20                  Agnostic      20_to_30k         60
21                   Atheist      20_to_30k         37
22                  Buddhist      20_to_30k         30
23                  Catholic      20_to_30k        732
24         Dont know/refused      20_to_30k         15
25         Evangelical Prot       20_to_30k       1064
26                    Hindu       20_to_30k          7
27  Historically Black Prot       20_to_30k        236
28         Jehovahs Witness       20_to_30k         24
29                   Jewish       20_to_30k         25
30                  Agnostic      30_to_40k         81
31                   Atheist      30_to_40k         52
32                  Buddhist      30_to_40k         34
33                  Catholic      30_to_40k        670
34         Dont know/refused      30_to_40k         11
35         Evangelical Prot       30_to_40k        982
36                    Hindu       30_to_40k          9
37  Historically Black Prot       30_to_40k        238
38         Jehovahs Witness       30_to_40k         24
39                   Jewish       30_to_40k         25
40                  Agnostic      40_to_50k         76
41                   Atheist      40_to_50k         35
42                  Buddhist      40_to_50k         33
43                  Catholic      40_to_50k        638
44         Dont know/refused      40_to_50k         10
45         Evangelical Prot       40_to_50k        881
46                    Hindu       40_to_50k         11
47  Historically Black Prot       40_to_50k        197
48         Jehovahs Witness       40_to_50k         21
49                   Jewish       40_to_50k         30
50                  Agnostic      50_to_75k        137
51                   Atheist      50_to_75k         70
52                  Buddhist      50_to_75k         58
53                  Catholic      50_to_75k       1116
54         Dont know/refused      50_to_75k         35
55         Evangelical Prot       50_to_75k       1486
56                    Hindu       50_to_75k         34
57  Historically Black Prot       50_to_75k        223
58         Jehovahs Witness       50_to_75k         30
59                   Jewish       50_to_75k         95>

In [22]:
pew.frequency

0       27
1       12
2       27
3      418
4       15
5      575
6        1
7      228
8       20
9       19
10      34
11      27
12      21
13     617
14      14
15     869
16       9
17     244
18      27
19      19
20      60
21      37
22      30
23     732
24      15
25    1064
26       7
27     236
28      24
29      25
30      81
31      52
32      34
33     670
34      11
35     982
36       9
37     238
38      24
39      25
40      76
41      35
42      33
43     638
44      10
45     881
46      11
47     197
48      21
49      30
50     137
51      70
52      58
53    1116
54      35
55    1486
56      34
57     223
58      30
59      95
Name: frequency, dtype: int64